<h1>All questions submitted by <%= current_user.email %> </h1><br> 

<% @user = current_user %> 
<% @question_user = @user.questions %> 
<% @question_user.each do |question| %> 
<tr>
        <td><b> Title: </b> <%= question.title %></td> <br>
        <td><b> Question: </b> <%= question.body %></td> <br>
 </tr> 
 <% end %> 


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
