<!DOCTYPE html>
<html>
<head>
  <title>Legal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id = "logo" class="navbar-brand"><%=link_to "Legal Portal", root_path %></div>
      
    <ul class="nav navbar-nav">   
         <% if user_signed_in? %>
           <ul class="nav navbar-nav">
            <li><%= link_to 'Submit Question', new_question_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </li>
            </ul>
          <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Submit Question', new_question_path %></li>
                <li><%= link_to 'Account', edit_user_registration_path %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <li><%= link_to 'Sign in', new_user_session_path %></li>
              </ul>
            <% end %>
                  </ul>
                </div>
              </div>
            </nav>
<body>

<%= yield %>

<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

</body>
</html>
